.button {
  background-color: #4f46e5; /* фиолетовая кнопка */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #6366f1; /* при наведении цвет светлее */
}